.navbar {
  background-color: red;
  font-family: "Times New Roman", serif;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  background-color: #F86936; /* set a lighter red shade for the hover background */
  color: #fff;
}

.btn {
  color: #fff;
  background-color: transparent;
  border: none;
  margin-right: 10px;
}

.btn:hover {
  background-color: #F86936; /* set a lighter red shade for the hover background */
}

.navbar-brand {
  color: #fff;
}



  
  
  
  