{% extends 'user/base.html' %}

{% block content %}
<div class="about-container">
    <header>
        <h1 class="about-heading">About SocialKitchen</h1>
    </header>
    <main>
        <section>
            <h2 class="about-subheading">Our Mission</h2>
            <p class="about-text">At SocialKitchen, we believe that cooking is for all. We encourage people to share their recipes with thousands of people and enjoy the taste of meals from all over the world. Our mission is to connect food lovers and create a community that appreciates the art of cooking.</p>
            <p class="about-text">If you have any questions or suggestions, please don't hesitate to <a href="#" class="about-link">contact us</a>.</p>
            <p>Email: &#9993; SocialKitchen@gmail.com</p>
        </section>
    </main>
    <footer>
        <p class="about-text" style="text-align: center;">&copy; 2023 SocialKitchen</p>
    </footer>
</div>

{% endblock %}

