{% extends "user/base.html" %}

{% block content %}
    <form method="POST" action="{% url 'user:login' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input type="text" class="form-control" id="exampleFormControlInput1", name="username">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">password</label>
            <input type="password" class="form-control" id="exampleFormControlInput1", name="password">
        </div>
        <input type="submit" name="submit">
    </form>
{% endblock %}